/* 
 * ###############################################################
 * Whole page
 */
 @import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@1,700&family=Open+Sans&family=Roboto&display=swap');

 * {
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
   }
   
   html {
     font-family: sans-serif;
     -ms-text-size-adjust: 100%;
     -webkit-text-size-adjust: 100%;
   }
   
   body {
     font-family: 'Open Sans', sans-serif;
     font-size: 16px;
     line-height: 1.25em;
     display: flex;
     flex-direction: column;
   }
 
   button {
    color: white;
    background-color: #2f538b;
    padding: 5pt 10pt;
    border-radius: 5px;
    height: 2.5em;
    cursor: pointer;
  }
  
/*#############################*/

/*#############################*/ 

  /* 
  * ###############################################################
  * Config conversation page
  */
  .stagePage{
    padding: 10px;
  }
  .stagePage form {
    border: 3px solid lightgrey;
    padding: 10px;
    width: 40em;
    display: flex;
    flex-direction: column;
    margin: auto;
  }
  .stagePage form label{
    padding: 10px;
  }
  .stagePage form textarea{
    height: 5em;
    align-items: center;
  }
  .stagePage form button{
    align-items: center;
    margin: 1em 0;
  }
  .stagePage  p{
    text-align: center;
  }
  .stagePage > div{
    border: 3px solid lightgrey;
    padding: 10px;
    width: 40em;
    margin: auto;
  }
  .stagePage > button{
    display: block;
    margin: 1em auto;
  }

  /* 
  * ###############################################################
  * Config home page
  */
  .homePage{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2em;
    margin-top: 10em;
  }

  .homePage form{
    margin: auto;
    text-align: center;
  }

  .homePage form input{
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px 0px;
    text-align: center;
    margin: 0 0.5em;
    width: 8em;
  }
